@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

a,
button,
h1,
h2,
h3,
p,
span,
.your-hover-class:hover {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

/* If you have specific styles for hover states, ensure you include the font there as well */
button:hover,
a:hover {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
